
 .no-margin{margin:0px;}
 .no-padding{padding:0px;}
.header {
   background-color: #ccffff;
    padding: 20px;
	border-radius: 25px;	
}
.header img{
	border-radius: 8px;
	width: 200px;	
	
}

.header a:hover{
	
    color: black;
}
.signup{
	text-align: right;
}
.signup a{
	text-decoration: none;
}
.topnav{
	margin-top:10px;
	background-color: #001a66;
	border-radius: 10px;
	padding: 20px;
	
	
	
}
.topnav a:hover {
    background-color:#f1f1f1 ;
    color: black;
	padding: 5px;
	
	
}
.topnav a{
	color: white;
    text-decoration: none;
	margin: 90px;
	
}
.btn{
	align:center;
}
   .footer{
	   background-color: #222;
	   color:#fff;
	   margin-top:25px;
	   padding-top:25px;
   }
   .bottom{
	    border-top:1px solid #b2b2b2;
		margin-top:10px;
		padding-top:10px;
		color: #b2b2b2;
   }
   .footer-nav{
	   text-align:right;
	   list-style: none;
   }
   .footer-nav li{
	   display:inline;
	   padding: 0px 10px;
   }
   .footer-nav li:not(:first-child):before{
	   content: '|';
	   padding: 0px 10px;
   }
   .footer-nav a:hover{
	   text-decoration: none;
	   color: #fff;
   }
   h2{text-align: center;
   color: white;
   background-color:gray;}
   
   .address{
	   font-size:10px;
   }
   
   .img{
    padding: 10px;
    width: 150px;
}
header {
    background-color:#001a66;
	 position: relative; 
	margin-top: 50px;}

 .mnuclr{
	 color: white;
	 font-size: 20px;
	 padding-top: 15px;
	 } 
.mbaspecialization li{
	display:block;
	list-style: none;
	float: left;
	padding: 10px 10px;
	
}

.txtimg{
	position:absolute;
	top:100px;
	left:0px;
}

.anchor a:hover{
	
	 text-decoration: none;
	   color: #000099;
	   background-color:#000099;
}



